<h1>Listing price_options</h1>

<table>
  <tr>
  </tr>

<% for price_option in @price_options %>
  <tr>
		<td><%= price_option.name %></td>
		<td><%= price_option.price_media_id.to_s %></td>
    <td><%= link_to 'Show', price_option %></td>
    <td><%= link_to 'Edit', edit_price_option_path(price_option) %></td>
    <td><%= link_to 'Destroy', price_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New price_option', new_price_option_path %>
