<h1>Listing product_use_durations</h1>

<table>
  <tr>
		<th>Name</th>
		<th>Percentage</th>
		<th>Price</th>
  </tr>

<% for product_use_duration in @product_use_durations %>
  <tr>
		<td><%= product_use_duration.name %></td>
		<td><%= product_use_duration.percentage %></td>
		<td><%= product_use_duration.price %></td>
    <td><%= link_to 'Edit', edit_product_use_duration_path(product_use_duration) %></td>
    <td><%= link_to 'Destroy', product_use_duration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product_use_duration', new_product_use_duration_path %>
