<h1>New product_use_printrun</h1>

<% form_for(@product_use_printrun) do |f| %>
  <%= f.error_messages %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :price %>
		<%= f.text_field :price %>
	</p>
	<p>
		<%= f.label :percentage %>
		<%= f.text_field :percentage %>
	</p>
	<p><label for="domains">Category</label><br/>
	<% for c in @product_categories -%>
		<%= check_box_tag('product_prints_list[]', c.id, @product_use_printrun.product_categories.collect { |o| o.id }.include?(c.id) ) %>  <%= c.name %><br/>
	<% end -%>
	</p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', product_use_printruns_path %>
