<h1>New product_categories</h1>

<% form_for(@product_category) do |f| %>
  <%= f.error_messages %>
	
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :price %>
		<%= f.text_field :price %>
	</p>	
	
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', product_categories_path %>
