<style type="text/css" media="screen">
	div#photoDetail div { border: 1px solid black; margin:5px; }
	div#photoDetail div#imageViewer img { margin: 5px 25% 0 25%;}
</style>

<div id="photoDetail">
	<div id="imageViewer">
		<%= image_tag @image.public_filename(:large), :style => "", :height => "300" %>
				<p>Sale Type: <strong><%= @image.product_type %></strong>
	</div>
	<div id="metaViewer">
		
			
	<% if current_user -%>
	
	<div id="ssOptions">
		<h3>Selling Options</h3>
		
		<% if @image.product_type == "private" -%>
		<p><b>Private Sale</b> <br/>
			Base Price: <%= number_to_currency @image.base_price %>  <br/>  
			<% link = "/calculator/show/" + @image.id.to_s %>
			<a href="javascript:void()" onclick="javascript:window.open('<%= link %>','calcWindow','800','800')" >View Prices</a><br/>
			<%= link_to "Send link to buyer", "mailto:?subject=New Photo&body=http://skateboardstock.com#{image_path}" %>
		</p>
		
		<% elsif @image.product_type == "offline" %>
			<p>This image is not for private sale and can only be viewed by you. Click edit and change type to private sale.</p>
		<% elsif @image.product_type == "editorial" %>
		
		<% elsif @image.product_type == "stock" %>
		
		<% end %>
		
		<p><b>Stock Photography</b> <br/>
			<%= link_to 'Sell as Editorial or Stock', new_image_request_path(@image) %><br/>
		</p>
		
		</p>
	</div>

	<% elsif @image.product_type == "private" -%>
		<p>Price $X</p>
		<p>BUY NOW</p>	
	<% else -%>
		no user
	<% end -%>
			

		<div id="meta">
			<h3>Metadata</h3><p><%= link_to 'Edit', edit_image_path(@image) %></p>
			<b><%= @image.description.title %></b>
			<p>
			  <strong>Title:</strong>
			  <%=h @image.description.title %>
			</p>
			<p>
			  <strong>Description:</strong>
			  <%=h @image.description.description %>
			</p>
			<p>
			  <strong>Location:</strong>
			  <%=h @image.description.location %>
			</p>
			<p>
			  <strong>Obsticle:</strong>
			  <%=h @image.description.obsticle %>
			</p>
			<p>
			  <strong>Trick:</strong>
			  <%=h @image.description.trick %>
			</p>
			<p>
			  <strong>Gender:</strong>
			  <%=h @image.description.gender %>
			</p>
			<p>
			  <strong>People:</strong>
			  <%=h @image.description.people %>
			</p>
			<p>
			  <strong>Portrait:</strong>
			  <%=h @image.description.portrait %>
			</p>
			<p>
			  <strong>Age:</strong>
			  <%=h @image.description.age %>
			</p>
			<p>
			  <strong>Color:</strong>
			  <%=h @image.description.color %>
			</p>
			<p>
			  <strong>State:</strong>
			  <%=h @image.description.state %>
			</p>
			<p>
			  <strong>City:</strong>
			  <%=h @image.description.city %>
			</p>
			<p>
			  <strong>Rider:</strong>
			  <%=h @image.description.rider_id %>
			</p>

			
		</div>
		
	</div>
</div>



















